<ul id="todo-list">
  {{#each model as |todo|}}
  <li class="{{if todo.isCompleted 'completed' 'editing'}} {{if todo.isEditing 'editing'}}">
    {{#if todo.isEditing}}
    {{edit-todo todo=todo}}
    {{else}}
    {{input type="checkbox" class="toggle" checked=todo.isCompleted}}
    <label{{action "editTodo" todo on="doubleClick"}}>{{todo.title}}</label>
    <button {{action "removeTodo" todo}} class="destroy"/>
    {{!-- <label>{{if todo.isCompleted (moment-from-now todo.createdAt interval=1000) }}</label> --}}
    {{#if todo.isCompleted }}
    <label>Completed at {{ atComplete  }}</label>
    {{/if}}
    <br>

    {{/if}}
    <hr>
  </li>

  {{/each}}
</ul>
